@media (max-width: 767px){
	.input-search{
		width: 290px;
	}
	.box-count-cart{
		margin-top: 10px;
	}
	.box-shopping-cart{
		float:right;
	}
}
@media (min-width: 768px) {
	
}
@media (min-width: 768px) and (max-width: 999px){
	
}
@media (min-width: 1000px) {
	
}
@media (min-width: 1200px){
	
}
